@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-Pale-blue: hsl(225, 100%, 94%);
  --clr-Bright-blue: hsl(245, 75%, 52%);
  --clr-Very-Pale-blue: hsl(225, 100%, 98%);
  --clr-Desaturated-blue: hsl(224, 23%, 55%);
  --clr-Dark-blue: hsl(223, 47%, 23%);

  --ff-primary: "Red Hat Display", sans-serif;
  --radius: 1rem;
  --transition: all 0.3s linear;
}

body {
  font-family: var(--ff-primary);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-Pale-blue);
  /* background: url("/images/pattern-background-desktop.svg") center/cover fixed
    no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  background-image: url("/images/pattern-background-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 762px) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
  }
}

.card-container {
  /* background: var(--clr-Very-Pale-blue); */
  background: white;
  max-width: 20rem;
  margin: 2rem;
  border-radius: var(--radius);
  /* padding-bottom: 0.5rem; */
}

.hero-img {
  width: 100%;
  display: block;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-info {
  text-align: center;
  padding: 0.5rem;
}
.card-title h1 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: 900;
  color: var(--clr-Dark-blue);
}

.card-detail {
  font-family: var(--ff-primary);
  color: var(--clr-Desaturated-blue);
  padding: 0 1.5rem;
  font-weight: 400;
  font-size: 15px;
}

.card-plan {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 1rem;
  background: var(--clr-Very-Pale-blue);
  padding: 0.5rem 0;
  border-radius: 0.8rem;
  align-items: center;
}

.annual-plan {
  display: grid;
  justify-items: start;
  grid-template-rows: 1fr 1fr;
  color: var(--clr-Dark-blue);
  margin-right: 2rem;
  padding: 0.5rem 0;
}

/* .annual-plan {
  display: flex;
  flex-direction: column;
  justify-items: start;
  color: var(--clr-Dark-blue);
} */

.annual-plan p {
  justify-self: start;
  font-weight: 900;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.annual-plan span {
  justify-items: start;
  color: var(--clr-Desaturated-blue);
  font-size: 0.8rem;
}

.card-plan a {
  color: var(--clr-Bright-blue);
  font-size: 0.8rem;
  font-weight: 900;
  transition: var(--transition);
}

.card-plan:hover a {
  opacity: 0.8;
}

.card-btn {
  margin: 0 1rem;
  transition: var(--transition);
}

.btn {
  font-family: var(--ff-primary);
  text-transform: capitalize;
  background: var(--clr-Bright-blue);
  color: white;
  display: inline-block;
  padding: 0.75rem 0.75rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
}
.card-btn:hover {
  opacity: 0.8;
}

.cancel-btn {
  font-family: var(--ff-primary);
  text-transform: capitalize;
  border: none;
  background: transparent;
  font-weight: 900;
  font-size: 15px;
  color: var(--clr-Desaturated-blue);
  cursor: pointer;
}
.cancel {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
